@media only screen and (max-width: 600px) {
  .navbar__top-menu-container {
    display: none;
  }
  .todolist__form,
  .container,
  .todolist__container,
  .footer-container {
    min-width: 300px;
    max-width: 300px;
  }

  .form,
  .login-form__container,
  .todolist__input {
    width: 280px;
    max-width: 280px;
    min-width: 280px;
  }

  .login-form {
    box-sizing: border-box;
  }
}
