.tasklist__container {
  max-width: 700px;
  margin: 0 auto;
  min-height: 830px;
}

.tasklist-selector__form {
  padding: 5px;
}

.tasklist-selector__form-header {
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 4px;
  font-size: 24px;
  font-weight: bold;
}

.tasklist-selector__select {
  padding: 10px 10px;
  font-size: 20px;
}

.tasklist__list__container {
  overflow-y: auto;
  padding-right: 10px;
  max-height: 500px;
  scrollbar-width: auto;
}

.tasklist__list-header {
  text-align: left;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
}

.tasklist-edit {
  padding: 10px;
  font-size: 24px;
  width: 300px;
  text-decoration: none;
}

.tasklist__list {
  list-style: none;
  text-align: left;
  justify-content: left;
  margin: 0;
  padding: 0;
}

.tasklist__input {
  width: 100%;
  padding: 5px 8px;
  font-size: 20px;
  height: 40px;
  min-width: 600px;
  margin-right: 10px;
}

.tasklist__form {
  display: flex;
  margin-bottom: 25px;
}

.tasklist__form__header {
  font-size: 36px;
  font-weight: 570;
  margin-bottom: 20px;
  text-decoration: underline;
  display: flex;
}

.tasklist__form__header--md {
  font-size: 24px;
}

.tasklist__header__container {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  margin: 20px 0 0;
}

.tasklist__label {
  width: 100%;
  border-left: 1px solid #ddd;
  padding-left: 10px;
  font-size: 24px;
  display: flex;
  vertical-align: middle;
  line-height: 40px;
}

.tasklist__label-md {
  font-size: 16px;
  font-weight: bold;
}

.tasklist__label--done {
  text-decoration: green solid line-through;
}

.tasklist__checkbox {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.tasklist__item {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.tasklist__item {
  padding: 4px 0;
}

.tasklist__item:hover,
.tasklist__item-input:hover,
.tasklist__item-input:focus,
.tasklist__item:hover .tasklist__item-input {
  background: #cfe9f0;
  animation: none;
  transition: none;
}

.tasklist__item-remove {
  display: flex;
  color: red;
}

.tasklist__button-remove {
  cursor: pointer;
}

.tasklist__item-input {
  box-sizing: border-box;
  font-size: 24px;
  width: 100%;
  padding: 2px 2px 2px 10px;
  margin: 2px;
  vertical-align: middle;
  transition: 0.5s;
  border: 0;
  border-left: 1px solid #eee;
  outline: none;
}

.tasklist__item-input--md {
  font-size: 18px;
}

.tasklist__item-input:focus {
  font-weight: bold;
}

.tasklist__item-input--done {
  text-decoration: green solid line-through;
}

.tasklist__item-input:focus {
  border: 0;
  outline: none;
}

.tasklist__edit-mode {
  display: inline-flex;
  justify-content: space-between;
  text-align: right;
}

.tasklist__edit-mode-label {
  font-size: 20px;
  text-align: right;
}

.tasklist__edit-mode-checkbox {
  width: 16px;
  height: 16px;
  line-height: 20px;
  margin-left: 5px;
}

.tasklists__header {
  margin-top: 20px;
  font-size: 24px;
}

.tasklists__list {
  font-size: 24px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  line-height: 1.5;
}
.tasklists__item {
  font-size: 24px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}
