body {
  place-items: flex-start !important;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.top-nav {
  list-style-type: none;
  display: flex;
  flex-direction: row-reverse;
  padding-left: 0;
  margin-bottom: 50px;
}

.top-nav__item {
  display: flex;
  justify-content: space-around;
  padding: 3px 8px;
}

.top-nav__item-link {
  text-decoration: none;
  text-transform: uppercase;
  padding: 2px;
  font-size: 20px;
}

.top-nav__item-link:hover {
  text-decoration: underline;
  border-bottom-width: 10px;
}

.todolist__container {
  width: 100%;
}

.todolist__header {
  text-align: left;
  font-size: 32px;
  letter-spacing: -2px;
  justify-content: center;
  text-transform: uppercase;
}

.todolist__list-header {
  text-align: left;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
}

.todolist__list {
  list-style: none;
  text-align: left;
  justify-content: left;
  margin: 0;
  padding: 0;
}

.todolist__input {
  width: 100%;
  padding: 5px 8px;
  font-size: 20px;
  height: 40px;
  min-width: 600px;
  margin-right: 10px;
}

.todolist__form {
  display: flex;
  margin-bottom: 25px;
}

.todolist__label {
  width: 100%;
  border-left: 1px solid #ddd;
  padding-left: 10px;
  font-size: 24px;
  display: flex;
  vertical-align: middle;
  line-height: 40px;
}

.todolist__label--done {
  text-decoration: green solid line-through;
}

.todolist__checkbox {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

.todolist__item {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.todolist__item:hover,
.todolist__item-input:hover,
.todolist__item-input:focus,
.todolist__item:hover .todolist__item-input {
  background: #cfe9f0;
  animation: none;
  transition: none;
}

.todolist__item-remove {
  display: flex;
  color: red;
}

.todolist__item-input {
  box-sizing: border-box;
  font-size: 24px;
  width: 100%;
  padding: 2px 2px 2px 10px;
  margin: 2px;
  vertical-align: middle;
  transition: 0.5s;
  border: 0;
  border-left: 1px solid #eee;
  outline: none;
}

.todolist__item-input:focus {
  font-weight: bold;
}

.todolist__item-input--done {
  text-decoration: green solid line-through;
}

.todolist__item-input:focus {
  border: 0;
  outline: none;
}

.todolist__edit-mode {
  text-align: right;
  margin: 20px 0 60px;
}

.todolist__edit-mode-label {
  font-size: 20px;
  text-align: right;
}

.todolist__edit-mode-checkbox {
  width: 16px;
  height: 16px;
  line-height: 20px;
  margin-left: 5px;
}

.login-form {
  text-align: left;
}

.login-form__username-input {
}

.login-form__password-input {
}

.form {
  padding: 0px 20px 30px;
  border: 1px solid #eee;
  border-radius: 15px;
  min-width: 320px;
}

.form-header {
  text-align: center;
  font-size: 24px;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-label {
  padding: 5px 8px;
  font-size: 16px;
  text-align: left;
}

.form-input {
  padding: 5px 8px;
  font-size: 16px;
  box-sizing: border-box;
  width: 100%;
}
